on:
  workflow_dispatch:
  push:

permissions:
  packages: write
  contents: read

jobs:
  docker_images:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        images: ["nginx:1.19", "vulhub/nginx:1.13.2", "vulhub/activemq:5.11.1"]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Docker Tag and Push
        run: |
          docker pull ${{ matrix.images }}
          docker tag ${{ matrix.images }} ghcr.io/chainguard-dev/${{ matrix.images }}
          docker push ghcr.io/chainguard-dev/${{ matrix.images }}
